<nav class='navbar navbar-default navbar-inverse navbar-fixed-top' role='navigation'>
    <div class='navbar-header'>
    	<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='#'>
            <img class='EC-icono' src='img/tierravida.png'>
        </a>
        <span id='selected-category'></span>
    </div>
    <a class='navbar-title' href='javascript:location.reload()'>Eh! Copate!</a>
    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <ul class='nav navbar-nav navbar-right'>
            <li class='dropdown'>
                <a href='#' class='dropdown-toggle item-bar' data-toggle='dropdown'>
                    <img src='img/notifications_white.png'>
                </a>
                <ul class='dropdown-menu'>
                    <li>
                        <a href='#'>No hay notificaciones</a>
                    </li>
                </ul>
            </li>
            <li class='dropdown'>
                <a href='#' class='dropdown-toggle item-bar' data-toggle='dropdown'>Menú</a>
                <ul class='dropdown-menu'>
                    <li><a href='#' data-toggle='modal' data-target='#loginModal'>Iniciar sesión</a></li>
                    <li><a href='#'>Ayuda</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>