body {
	background-color: white;
	font-family: sans-serif;
}

span {
	cursor: default;
}

/*//////////////////////////////////////////////////////*/

.container-page {

}

/*//////////////////////////////////////////////////////*/
.navbar-inverse {
  background-color: #026AAA;
}

.navbar-title {
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 15px calc(50% - 73px) 0 calc(50% - 172px);
  position: absolute;
  width: 162px;
  text-align: center;
}

.navbar-title:hover {
  color: white;
  text-decoration: none;
}

.navbar-right li a.item-bar {
  border-radius: 10px;
  color: white;
  margin: 10px 10px 0 5px;
  padding: 5px 5px 5px 5px;
}
.navbar-right li a.item-bar:hover {
  background-color: #0254AB;
}

.dropdown ul.dropdown-menu {
  margin-top: 10px;
}

.dropdown.open .dropdown-toggle.item-bar:first-child {
  background-color: #0254AB;
}

.navbar-brand {
  margin: 5px 10px 5px 5px;
  padding: 0;
}

.EC-icono {
  height: 40px;
}

#navigation-bar .navbar-inverse .navbar-header .selected-category {
  color: white;
  font-size: 16px;
  margin: 15px 0 0 15px;
  position: absolute;
}

/*//////////////////////////////////////////////////////*/

.wrapper-info-section {
  margin-left: 6px;
}

.wrapper-form {
  margin-top: 60px;
}

.info-section {
  display: inline-block;
  margin: 56px 0.1% 0 0.1%;
  border-radius: 5px;
  height: 70px;
  width: 33%;
  float: left;
}

.project {
  background-color: #42B549;
}

.young {
  background-color: #4295B9;
}

.followers {
  background-color: #F05C68;
}

.wrapper-boxes {
  margin-top: 150px;
}

.wrapper-boxes-2 {
  margin-top: 40px;
}

.link-box {
  text-decoration: none !important;
  color: black !important;
}

.info-text {
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

.label-info {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.modal-title {
  text-align: center;
}


/*//////////////////////////////////////////////////////*/

.panel-success {
  border: solid 2px #d6e9c6;
  max-height: 400px;
  overflow:hidden !important;
  min-height: 400px;
}

.panel-body {
  overflow:hidden !important;
  max-height: 200px;
  min-height: 300px;
}

.link-button-login {
  text-decoration: none !important;
  color: black;
}

.link-button-login:hover {
  text-decoration: none !important;
  color: black;
}

.panel-success:hover {
  border: solid 2px #73a839;
}

.panel-success .panel-heading {
  color: #468847;
  background-color: #73a839;
  border-color: #dddddd;
}

.panel-title {
  color: white;
  /*text-align: center;*/
}

@media (max-width: 767px) {

  .info-text {
    font-size: 18px;
    padding: 25px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }

  .navbar-title {
    display: none;
  }

  .navbar-right .dropdown.open .dropdown-menu li a {
    color: white;
  }
  
}