body {
	background-color: #FFDFAE;
	font-family: sans-serif;
	overflow: hidden;
}

.navbar-inverse {
	background-color: #026AAA;
}

.navbar-title {
	color: white;
	cursor: pointer;
	font-size: 16px;
	margin: 15px calc(50% - 73px) 0 calc(50% - 137px);
	position: absolute;
	width: 162px;
	text-align: center;
}

.navbar-title:hover {
	color: white;
	text-decoration: none;
}

.navbar-right li a.item-bar {
	border-radius: 10px;
	color: white;
	margin: 10px 10px 0 5px;
	padding: 5px 5px 5px 5px;
}
.navbar-right li a.item-bar:hover {
	background-color: #0254AB;
}

.dropdown ul.dropdown-menu {
	margin-top: 10px;
}

.dropdown.open .dropdown-toggle.item-bar:first-child {
	background-color: #0254AB;
}

.navbar-brand {
	margin: 5px 10px 5px 5px;
	padding: 0;
}

.EC-icono {
	height: 40px;
}

#navigation-bar .navbar-inverse .navbar-header .selected-category {
	color: white;
	font-size: 16px;
	margin: 15px 0 0 15px;
	position: absolute;
}

@media (max-width: 767px) {

	.navbar-title {
		display: none;
	}

	.navbar-right .dropdown.open .dropdown-menu li a {
		color: white;
	}
	
}