<!doctype html>  
<html lang="en" ng-app="ehCopate">

<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="TierraVida Fundation">
    <link rel="shortcut icon" href="img/ftv_icono.png">
    <title>EhCopate</title>
    <link href="styles/bootstrap.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
</head>

<body>

<!-- container-page -->
<div class="container-page">
    
    
    <!-- NavbarHeader -->
    <div class="container"  ng-controller="headerCtrl">
        <div class="row clearfix">
            <div class="col-md-12 column">
                    <ng-include src="urlHeader"></ng-include>
            </div>
        </div>
    </div>

    <div ng-controller="mainController">

        <!-- infobar -->
        <div class="wrapper-info-section">
            <div class="info-section project">
                <div class="info-text">
                    {{ projects.length }} Proyectos
                </div>
            </div>
            <div class="info-section young">
                <div class="info-text">
                    68 Jovenes
                </div>
            </div>
            <div class="info-section followers">
                <div class="info-text">
                    46 Seguidores
                </div>
            </div>
        </div>

         <!--Form to insert new project -->            
         <!-- <div id="project-form" class="row clearfix">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="Insert School name" ng-model="formData.nameSchool">
                        <br>
                        <input type="text" class="form-control input-lg text-center" placeholder="Insert Project name" ng-model="formData.nameProject">
                        <br>
                        <input type="text" class="form-control input-lg text-center" placeholder="Insert Project Description" ng-model="formData.projectDescription">
                    </div>
                    <button class="btn btn-warning btn-lg" ng-click="createProject()">Crear</button>
                </form>
            </div>
        </div> -->

        <br>
        
        <!--Project List-->
        <div class="wrapper-boxes">
            <div class="col-md-4 column" ng-repeat="project in projects">
                <a class="link-box" href="#" data-toggle='modal' data-target='.view-more-modal'>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                        <h3 class="panel-title">Escuela: {{ project.nameSchool }}</h3>
                        </div>
                        <div class="panel-body">
                        <h4>Proyecto: {{ project.nameProject }}</h4>
                        <p>Descripción: {{ project.projectDescription }}</p>
                        </div>
                        <!-- <div class="panel-footer">
                        <button class="btn btn-danger btn-lg" ng-click="deleteProject(project._id)">Delete</button>
                        </div> -->
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

    <div class="modal fade view-more-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Nombre de la escuela</h4>
                </div>
                <div class="modal-body">
                    <h4>Nombre del proyecto</h4>
                    <h5>Indicador</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!--login modal-->
    <div id="loginModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h1 class="text-center">Iniciar sesión</h1>
          </div>
          <div class="modal-body">
              <form class="form col-md-12 center-block">
                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control input-lg" placeholder="Password">
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-lg btn-block"><a class="link-button-login" href="index2.html">Ingresar</a></button>
                  <span class="pull-right"><a>Registrarse</a></span><span><a href="#">ayuda</a></span>
                </div>
              </form>
          </div>
          <div class="modal-footer">
              <div class="col-md-12">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
              </div>    
          </div>
      </div>
      </div>
    </div>

    <div class="modal fade help-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ayuda</h4>
                </div>
                <div class="modal-body">
                    <h4 id="text-in-a-modal">¿Que es Eh! Copate!?</h4>
                    <p>En TierraVida creemos que la educación es una herramienta fundamental para crear comunidades más sustentables. Es por ello que llevamos adelante este programa que busca desarrollar iniciativas dirigidas a alumnos de todos los niveles. Éstas se basan en la experiencia (“aprender haciendo”) para tomar conciencia sobre los desafíos para la sustentabilidad que los participantes identifican en su entorno inmediato. En base a la conciencia generada, los jóvenes lideran programas de acción para impactar positivamente en su comunidad.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
    <script src="js/jquery.min.js"></script>

    <!-- bootstrap -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script> -->
    <script src="js/bootstrap.min.js"></script>

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
    <script src="js/main.js"></script>

</body>

</html>